html {
    font-family: sans-serif; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
  font-family: 'Jolly Lodger', cursive;
  background-color: #0f0f0f;
  color: #87be2f;
}

a {
  text-decoration: none;
  color: #87be2f
}

.center {
  margin-left: 36.5%;
  margin-top: 11%;
  width: 500px;
  text-align:center;
}

.footer {
  margin-top: 14%;
  width: 100%;
  text-align: center;
}
